<%- include("partials/headers.ejs") %>

<div class="container mt-5">
    <div class="row featurette" >
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
          <p class="lead">Hi, my name is Sumit Thakare, I am a photographer based in Maharashtra. I specialize in photography, wedding, outdoors, graduations.   

            I have always been passionate about photography and I started in 2021 and completed my diploma of photography at Pune.
            When I am not taking pictures, I enjoy Riding and Meeting new peoples. I draw inspiration for my photograms from happy moments and I hope to produce the best memories of life and preserve it. 
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="./images/gallery/IMG_20230819_235611.jpg" alt="">
        </div>
      </div>
</div>

<%- include("partials/footer.ejs") %>