<%- include("partials/headers.ejs") %>

<section class="container">
    <h1 class="my-4 text-center text-lg-left">Image Gallery</h1>
    <div class="row gallery">
        

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0003.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0003.webp" alt="Random Image"></figure>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0004.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0004.webp" alt="Random Image"></figure>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0005.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0005.webp" alt="Random Image"></figure>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0006.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0006.webp" alt="Random Image"></figure>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0017.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0017.webp" alt="Random Image"></figure>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0002.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0002.webp" alt="Random Image"></figure>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0018.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0018.webp" alt="Random Image"></figure>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0019.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0019.webp" alt="Random Image"></figure>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0020.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0020.webp" alt="Random Image"></figure>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0010.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0007.webp" alt="Random Image"></figure>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0011.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0011.webp" alt="Random Image"></figure>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href="./images/gallery/sumit_thakare_photography-20230827-0012.webp">
                <figure><img class="img-fluid img-thumbnail" src="./images/gallery/sumit_thakare_photography-20230827-0012.webp" alt="Random Image"></figure>
            </a>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>