<%- include("partials/headers.ejs") %>

<section>
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" fdprocessedid="q4esin" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide2" fdprocessedid="5bml2q" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" fdprocessedid="q5y0i9" class=""></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
        <!--  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          -->
          <img src="./images/gallery/SAM_9738.JPG" alt="Bride Makeup" class="d-block w-100">
          <div class="container">
            <div class="carousel-caption text-start">
              <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Freeze Journeys</font></font></h1>
              <p class="opacity-75"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Currently Booking For 2023 and 2024</font></font></p>
              <p><a class="btn btn-lg btn-primary" href="/register"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Register today</font></font></a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
        <!--  <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
          -->
          <img src="./images/gallery/00000599-2.jpg" alt="Ring In hand" class="d-block w-100">
          <div class="container">
            <div class="carousel-caption">
              <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">We Are The Memory Catcher</font></font></h1>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">I hace captured many memories of many people and got preety good reputation</font></font></p>
              <p><a class="btn btn-lg btn-primary" href="/about"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">learn more</font></font></a></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        -->
        <img src="./images/gallery/00000572-2.jpg" alt="ring in flower" class="d-block w-100">
          <div class="container">
            <div class="carousel-caption text-end">
              <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Look At Our Work</font></font></h1>
              <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This following gallery shows my work and give you idea about my work style and profession</font></font></p>
              <p><a class="btn btn-lg btn-primary" href="/gallery"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Browse the gallery</font></font></a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev" fdprocessedid="h5ewco">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">the previous</font></font></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next" fdprocessedid="bth9c">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">the next</font></font></span>
      </button>
    </div>
  </section>
<hr>
<!-- Marketing-->
  <section>
    <div class="container widt">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Freezing life’s most important moments in time forever…</font></font><span class="text-body-secondary"><font style="vertical-align: inherit;"></font></span></h2>
          <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">I have a deep appreciation for people's stories and using my skills to craft stunning visuals that can be passed down through the generations.</font><font style="vertical-align: inherit;">My aim is to help you cherish both the grand and subtle moments that occur on your special day, capturing the essence of your wedding in a classic and authentic manner.</font></font></p>
        </div>
        <div class="col-md-5">
        <!--  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg> 
        -->
        <img src="./images/gallery/00000452.jpg" width="500px">
        </div>
      </div>

      <hr class="featurette-divider">


      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">Here's a sample of how your time with me will go:</h2>
            <ol type="1">
              <li>Say Hi! Tell me your story</li>
              <li>Secure your wedding date!</li>
              <li>Pre-Planning - Rough draft of wedding timeline</li>
              <li>Engagement session</li>
              <li>Final consultations / detail planning</li>
              <li>Wedding Time! Let's get you married</li>
              <li>Photo previews 48 hours after your wedding</li>
              <li>Full Gallery Delivered 8-10 weeks after your wedding</li>
              <li>Order Albums and Prints</li>
              <li>Memories Secured for life!</li>
            </ol>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="./images/gallery/sumit_thakare_photography-20230827-0008.webp" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" alt="Groom">
        </div>
      </div>

  </div>
  </section>

<%- include("partials/footer.ejs") %>